__pycache__/*
src/__pycache__/*
src/mhaDisplay/__pycache__/*
src/nnutils/__pycache__/*
src/nnutils/models/__pycache__/*
src/osutils/__pycache__/*
src/osutils/fileIO/__pycache__/*
src/tools/__pycache__/*
src/tools/mask/__pycache__/*
src/tools/matrix/__pycache__/*
src/tools/mha/__pycache__/*
src/tools/preparation/__pycache__/*
src/tools/segmentation/__pycache__/*
.idea/*
settings.json
data/raw/*
data/classifiers/*