__pycache__/*
mhaDisplay/__pycache__/*
nnutils/__pycache__/*
nnutils/models/__pycache__/*
osutils/__pycache__/*
osutils/fileIO/__pycache__/*
tools/__pycache__/*
tools/mask/__pycache__/*
tools/matrix/__pycache__/*
tools/mha/__pycache__/*
tools/preparation/__pycache__/*
tools/segmentation/__pycache__/*
.idea/*
settings.json